body{
	min-width: 650px;
}

/*Début gestion thème général*/
.theme_sombre{
	background-color: #000000d9;
	color: white;
	transition: background-color 0.5s ease, color 0.5s ease;
}

.theme_sombre_sans_transition{
	background-color: #000000d9;
	color: white;
}

.theme_clair{
	background-color: white;
	color: black;
	transition: background-color 0.5s ease, color 0.5s ease;
}

.theme_clair_sans_transition{
	background-color: white;
	color: black;
}
/*Fin gestion thème général*/



/*Début gestion thème footer*/
.theme_clair_footer{
	background-color: #b0b0b0;
	color: black;
	transition: background-color 0.5s ease, color 0.5s ease;
}

.theme_sombre_footer{
	background-color: #323232;
	color: white;
	transition: background-color 0.5s ease, color 0.5s ease;
}

.theme_clair_footer_sans_transition{
	background-color: #b0b0b0;
	color: black;
}

.theme_sombre_footer_sans_transition{
	background-color: #323232;
	color: white;
}
/*Fin gestion thème footer*/








section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  margin: 20px;
  text-align: center;
  width: 50%;
}

.box2 {
  margin: 20px;
  text-align: center;
  width: 40%;
}

.img {
  max-width: 400px;
  width: 100%;
  flex: 1;
}

.img_cyber{
	border-radius: 50%;
}

.img_clavier, .img_goku, .img_piano, .img_skills{
	border-radius: 10%;
}

.separateur{
	width: 50%;
 	margin: 0 auto;
}

/* Style pour la bannière */

.banner{
	width: 100%;
	border-radius: 10px;
	filter:blur(1.5px);
	
}

.banniere{
	width: 90%;
	text-align: center;

	border-radius: 10px;
	background-image: url("../img/pexels-luis-gomes-546819.jpg");
	background-size: cover;
  	background-position: center;
}

.pseudo_banniere{
	margin: 0;
	font-size: 150px;
	-webkit-text-stroke: 2px #fff;
}
.nom_banniere{
	font-size: 50px;
	-webkit-text-stroke: 1px #fff;
}








/* Style pour la barre de navigation */

nav {
	width: 100%;
	margin: 0 auto;
	background-color: white;
	position: sticky;
	top: 0px;
}

nav a{
	display: block;
	text-decoration: none;
	color: black;
	border-bottom: 2px solid transparent;
	padding: 10px 0px;
}

nav a:hover{
	color: orange;
	border-bottom: 2px solid gold;
}

nav ul{
	list-style-type: none;
	padding: 0;
}

nav ul::after{
	content: "";
	display: table;
	clear: both;
}

nav li{
	float: left;
	width: 25%;
	text-align: center;
}












/* Position fixée pour le sélecteur de thème */

.position_fixe {
	position: fixed;
	bottom: 20px;
	left: 10px;
  }

  /* Style pour le Toggle Switch */

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 25px;
  }
  
  .switch input { 
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 19px;
	width: 19px;
	left: 4px;
	bottom: 3px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: #367bf0;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(34px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 10px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }

/* Fin style pour le Toggle Switch */







/* Début style formulaire */

.formulaire{
	margin-left: 20%;
}

.champ_formulaire{
	width: 80%;
}

.champ_message{
	resize: vertical;
	/*height: 150px;*/
}

.bouton_envoie{
	width: 80%;
	border-radius: 50px;
	padding: 6px 32px;
	text-align: center;
	background-color: green;
}

.bouton_envoie:hover,
.bouton_envoie:focus {
   opacity: .60;
}

/*Fin style formulaire*/


.div_reseaux, .div_mail, .div_formulaire{
	margin-left: 10%;
}




footer{
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
	border: 1px solid #1b1b1b;
	border-radius: 30px;
	padding: 5px;
	margin-bottom: 10px;
}












.a_venir{

	line-height: 100vh;
	text-align: center;
}